* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: black;
    border-bottom: 1px solid white;
    padding: 1rem;
    font-size: 1rem;
  }
  
  nav .brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  nav .nav-items a {
    margin: 0 1rem;
  }
  main form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 400;
  }
  main button{
    width: 125px;
    height: 30px;
    font-size: 20px;
    align-items: center;
    background-color: black;
    color:white;
  }
  ::placeholder{
    padding-left: 10px;
  }
  main input{
    height: 36px;
  }